html,body{
  width: 100%;
  overflow-x: hidden;
  font-family: 'PingFang SC',"Helvetica Neue",Helvetica,Tahoma,Arial,'Microsoft Yahei','Hiragino Sans GB','WenQuanYi Micro Hei',sans-serif;
}
li,ol{
   list-style: none;
}
a{
    text-decoration: none;
}
ul,h2{
  margin: 0;
  padding: 0;
}
svg.icon {
  width: 0.48rem;
  height: 0.48rem;
  vertical-align: -.25ex;
  fill: currentColor;
}
.book-cover {
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
